FallbackResource /domotika/gui/index.php
<Files *.php>
    Order Deny,Allow
    Deny from all
</Files>
<Files offline.appcache>
    Order Allow,Deny
    Allow from all
   ExpiresActive On
   ExpiresDefault "access"

</Files>

<FilesMatch "^(index|install)\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
